<!DOCTYPE html>
<html class="node-ex">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Bowie Gallery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/public/styles.css" />
  </head>
  <body> 
    <h1>Bowie Impressions</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/works">Works</a>
    </nav>
    <section class="gallery">
      <h2>Gallery</h2>
      <img src="" alt="">
      <img src="" alt="">
      <img src="" alt="">
    </section>




<script src="/app.js"> </script>
  </body>
  </html>