<!DOCTYPE html>
<html class="node-ex">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>David Bowie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/public/styles.css" />
  </head>
  <body> 
    <nav>
      <a href="/about">About</a>
      <a href="/gallery">Gallery</a>
      <a href="/works">Works</a>
    </nav>
    <section> <h1>A David Bowie fan site</h1>
    <p>Welcome on my David Bowie website</p></section>
   




<script src="/app.js"> </script>
  </body>
  </html>